<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
    <style>
        body {
            background-color: #5C8374;
            text-decoration-color: #93B1A6;
            color: #ffffff;
        }
        .navbar {
            background-color: #343a40; 
        }

        .navbar-brand {
            color: #ffffff; 
        }

        .navbar-nav .nav-link {
            color: #ffffff; 
        }

            .navbar-nav .nav-link:hover {
                color: #f8f9fa; 
            }

        .card {
            background-color: #183D3D;
            height: 100vh;
        }

            .card ul {
                list-style: none; 
                padding-left: 0; 
            }

            .card li {
                padding: 10px 0;
            }

                .card li a {
                    text-decoration: none;
                    color: #93B1A6; 
                    background-color: #183D3D; 
                    padding: 10px 20px;
                    display: block;
                    transition: background-color 0.3s; 
                    font-family: Arial, sans-serif; 
                    font-size: 16px; 
                }

                    .card li a:hover {
                        background-color: #27005D; 
                        color: #fff; 
                    }
    </style>
</head>
<body>
    @Html.Partial("Navbar")


    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <ul>
                        <li><a href="/UserPanel/AddressList">Addresses</a></li>
                        <li><a href="/UserPanel/Orders">Orders</a></li>
                        <li><a href="/AdminPanel/Update"> Account Details</a></li>
                        <li><a href="/UserPanel/Logout"> Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            @if (ViewBag.pm != null)
            {
                <div id="myAlert" class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    @ViewBag.pm
                </div>
            }
            @RenderBody()
            @Html.Partial("Footer");

        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
            // Automatically close the alert after 10 seconds (10000 milliseconds)
            setTimeout(function () {
                $('#myAlert').alert('close');
            }, 10000);
        </script>
</body>
</html>
