@{
    bool AdminLoggedin = Session["Admin"] != null;
    List<MarketVerse.Models.Category> categories = MarketVerse.Models.Category.ShowAllCategories();
    List<MarketVerse.Models.SubCategory> subcategories = MarketVerse.Models.SubCategory.ShowAllSubCategories();
    bool isLoggedin = false;
    string Username = "";

    if (Session["User"]!= null)
    {
        Username = Session["User"].ToString();
        isLoggedin = true;
    }
    else{
        isLoggedin = false;
    }
}


<nav class="navbar navbar-expand-lg shadow-sm" style="background-color: white !important; ">
    <div class="container">
        @Html.ActionLink("MarketVerse", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-dark" })
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link link-dark" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link link-dark" })
                </li>
                @if (AdminLoggedin)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Admin Panel", "Panel", "AdminPanel", new { area = "" }, new { @class = "nav-link link-dark" })
                    </li>
                }
                @foreach (var item in categories)
                {
                    <li>
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle link-dark" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @item.Name
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                @foreach (var subitem in subcategories)
                                {
                                    if (subitem.Code == item.id)
                                    {
                                        <a class="dropdown-item" href="/Products/ViewProductsBasedOnSubCategory/@subitem.id">@subitem.Name</a>
                                        <div class="dropdown-divider"></div>
                                    }

                                }
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <!-- Add the new button here -->
        @if (isLoggedin)
        {
            <a class="btn btn-success" href="@Url.Action("Index", "UserPanel", new { Username = Username })">Control Panel</a>
        }
        else
        {
            <div class="ml-auto">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </button>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="@Url.Action("Register", "Users", new { area = "" })">Register</a>
                        <a class="dropdown-item" href="@Url.Action("Login", "Users", new { area = "" })">Login</a>
                    </div>
                </div>
            </div>
        } |
        <a class="btn btn-dark" href="/ShoppingCart/Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M1 0.5a.5.5 0 0 1 .5-.5h3.626a2 2 0 1 1 3.748 0h5.252a.5.5 0 0 1 0 1H8.874a2 2 0 1 1-3.748 0H1.5a.5.5 0 0 1-.5-.5zM6 2a1 1 0 1 0-2 0h2zm-4.063.518 1 4a1 1 0 0 0 .947.682h9.232a1 1 0 0 0 .947-.682l1-4a1 1 0 1 0-1.894-.364l-1 4a1 1 0 0 1-.946.682H4.063a1 1 0 0 1-.946-.682l-1-4a1 1 0 1 0-1.894.364z" />
                <path d="M3.293 15.293a1 1 0 1 0 1.414 1.414 6 6 0 0 0 8.485 0 1 1 0 1 0 1.414-1.414 8 8 0 0 1-11.313 0z" />
            </svg>
        </a>
    </div>
</nav>