@{
    bool AdminLoggedin = Session["Admin"] != null;
    List<MarketVerse.Models.Category> categories = MarketVerse.Models.Category.ShowAllCategories();
    List<MarketVerse.Models.SubCategory> subcategories = MarketVerse.Models.SubCategory.ShowAllSubCategories();
    bool isLoggedin = false;
    string Username = "";

    if (Session["User"]!= null)
    {
        Username = Session["User"].ToString();
        isLoggedin = true;
    }
    else{
        isLoggedin = false;
    }
}


<nav class="navbar navbar-expand-lg shadow-sm" style="background-color: white !important; ">
    <div class="container">
        @Html.ActionLink("MarketVerse", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-dark" })
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link link-dark" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link link-dark" })
                </li>
                @if (AdminLoggedin)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Admin Panel", "Panel", "AdminPanel", new { area = "" }, new { @class = "nav-link link-dark" })
                    </li>
                }
                @foreach (var item in categories)
                {
                    <li>
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle link-dark" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @item.Name
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                @foreach (var subitem in subcategories)
                                {
                                    if (subitem.Code == item.id)
                                    {
                                        <a class="dropdown-item" href="/Products/ViewProductsBasedOnSubCategory/@subitem.id">@subitem.Name</a>
                                        <div class="dropdown-divider"></div>
                                    }

                                }
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <!-- Add the new button here -->
        @if (isLoggedin)
        {
            <a class="btn btn-success" href="@Url.Action("Index", "UserPanel", new { Username = Username })">Control Panel</a>
        }
        else
        {
            <div class="ml-auto">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </button>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="@Url.Action("Register", "Users", new { area = "" })">Register</a>
                        <a class="dropdown-item" href="@Url.Action("Login", "Users", new { area = "" })">Login</a>
                    </div>
                </div>
            </div>
        } | 
        <a href="#" class="btn btn-primary" style="margin-right: 5px;">
            <i class="fas fa-shopping-cart"></i> View Cart
        </a>
    </div>
</nav>
