@model MarketVerse.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrackingID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackingID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NormalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NormalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountedPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountedPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
