@model MarketVerse.Models.Category

@{
    ViewBag.Title = "Category Details";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<main>

    <h2>Category Details</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SubcategoryCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubcategoryCount)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-success" }) |
        <a class="btn btn-danger" href="/Categories/Index"> Back to list </a>
    </p>
</main>
