@model IEnumerable<MarketVerse.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

@section Styles{

    <style>
        .table-wrapper {
            max-width: 100%; 
            overflow-x: auto;
        }

        .table {
            width: 100%; 
        }

            .table th,
            .table td {
                max-width: 200px; 
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    </style>
}

<h2>Users List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-wrapper">
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </table>

    <a class="btn btn-info" href="/AdminPanel">Back to Control Panel</a>
</div>
