@model MarketVerse.Models.Product

@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";

}


<main>
    <h2>Details</h2>

    @if (ViewBag.pm != null)
    {
        <div class="alert-dismissible alert-info">@ViewBag.pm</div>
    }

    <div>
        <h4>Product Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SubCategoryid)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubCategoryid)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Purchuses)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Purchuses)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Views)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Views)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</main>

