@model MarketVerse.Models.ProductWithContent
@{
    ViewBag.Title = Model.product.Name;
}

<main>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    @Model.product.Name
                </div>
                <div class="card-body">
                    <form method="post" action="@Url.Action("AddToCart", "ShoppingCart")">
                        <input hidden="hidden" name="productId" value="@Model.product.id" />
                        <input hidden="hidden" name="productName" value="@Model.product.Name" />
                        <input hidden="hidden" name="price" value="@Model.product.Price" />
                        <input hidden="hidden" name="quantity" value="1" />
                        <!-- Move the product image here -->
                        <img src="~/images/@Model.product.ImageFileName" alt="Product Image" class="img-fluid" />
                        <h5 class="card-title">@Model.product.Name</h5>
                        <p class="card-text">@Model.product.Description</p>
                        <p class="card-text">@Model.product.Purchuses people have bought this product so far!</p>
                        <button type="submit" class="btn btn-success">Buy Now!</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-header bg-info">
                    About this Product
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Model.content.Title</h5>
                    <p class="card-text">@Html.Raw(Model.content.Text)</p>
                </div>
            </div>
        </div>
    </div>
</main>
